.dialogs {
  display: grid;

  grid-template-columns: 2fr 4fr;
  /* grid-gap: 10px; */
}

.dialogsItems {
  padding: 10px;
  background-color: floralwhite;
}

.dialogsItems .active {
  color: green;
}

.messages {
  padding: 10px; 
  background-color: lightseagreen;
}